@model IEnumerable<StudentCheckApp.Models.DbModel.CheckDay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }
    </tbody>
    <div>
        <a asp-action="Export" asp-controller="Excel">İndir</a> |
    </div>
</table>
